<div class="giscus"></div>

<script
  src="https://giscus.app/client.js"
  data-repo="fwy13/fwy13.github.io"
  data-repo-id="R_kgDORbAJbg"
  data-category="Q&A"
  data-category-id="DIC_kwDORbAJbs4C3Zs3"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="vi"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
